.LYNCMetaMaskConnectSDK__metamask_connect_btn {
  box-sizing: border-box;
  min-width: 165px;
  background: oklch(72.3% 0.192 150);
  color: oklch(21.6% 0.006 56);
  padding: 8px 16px;
  white-space: nowrap;
  font-weight: 500;
  font-size: 14px;
  border-radius: 6px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-family: inherit;
  cursor: pointer;
  border: none;
}

.LYNCMetaMaskConnectSDK__metamask_connect_btn:hover {
  background: oklch(72.3% 0.192 150 / 0.9);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}

.LYNCMetaMaskConnectSDK__metamask_connect_btn:disabled {
  pointer-events: none;
  opacity: 50%;
}
